.page-inner-content {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 1rem;
  box-sizing: border-box;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
  padding-bottom: 2rem;
}

.product {
  padding: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.img-products {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
}

.product .buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.product .name {
  font-weight: bold;
  margin-top: 0.4rem;
  text-align: center;
}

.product .price {
  margin-top: 0.4rem;
  text-align: center;
  font-size: 1.5rem;
}

.product .price span {
  font-weight: bold;
}

.product .rate,
.testimonial .rate {
  color: red;
  font-size: 1.3rem;
  text-align: center;
}

.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.8rem;
  background-color: #080000;
  color: #fff;
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.2s;
  cursor: pointer;
  border: none;
}

.btn-icon:hover {
  background-color: red;
}

.section-title {
  padding-bottom: 2rem;
  margin-top: 3rem;
}

.section-title h3 {
  text-align: center;
  font-size: 1.8rem;
}

.section-title .underline {
  width: 150px;
  height: 2px;
  background-color: red;
  margin: 4px auto 0 auto;
}
