* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background: linear-gradient(
    130deg,
    rgb(37, 0, 0) 48%,
    rgba(14, 14, 14, 1) 77%
  );
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
